*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.main_sec{
	background: #2a3f54;
}
.main_sec h4, .main_sec2 h4 {
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
}
.main_sec2{
	background: #2196f3;
}
.border_custom{
	border-bottom: 1px solid #bab6b6 !important;
}
.outer_table p{
	padding: 5px;
	margin: 0;
}
.outer_table table{
	margin-bottom: 10px;
	background: #f5f5f5;
	box-shadow: 2px 2px 3px #d8d8d8;
	table-layout: fixed;
}
table.table.table_cutom tr td{
	border: none; 
}
.text_blue {
	color: #2196f3;
}
.border_custom span{
	color: #c87b43;
	font-weight: bold;
}
	.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
    line-height: 13px;
}
.bold_font{
	font-weight: bold;
}


@media screen and (max-width: 767px){
	.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
    white-space: unset;
    font-size: 14px;
}
.outer_table table{
	margin-bottom: 7px !important;
}
}
@media screen and (max-width: 500px){
.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
    font-size: 12px;
}
}
@media screen and (max-width: 400px){
.main_sec h4, .main_sec2 h4 {
    padding: 7px;
    font-size: 13px;
}
.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
    font-size: 10px;
}
}
